.profile-page{
  margin-top: 120px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #b5a14f;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}

.name {
  margin-top: -50px;
}

.first-name {
  font-weight: 800;
}

.last-name {
  font-weight: 100; 
}