nav {
    height:120px;   
    color:#FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    background: linear-gradient(90deg, rgba(0,23,36,1) 0%, rgba(7,21,84,0.6531206232492996) 71%, rgba(0,138,255,1) 100%);
}

.logo {
  font-family: "Bungee", cursive;
  margin-left: 1.5em;
  font-weight: 400;
  font-size: xx-large;
}


.write-a-new-tweet {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.newtweet {
  display:flex;
  margin-right: 1.5em;
  margin-bottom: -15px;
}


#arrow-logo {
  margin-right: 20px;
}

#arrow-logo{
  animation: updown 1s linear 0s infinite normal;
  color: rgb(147, 57, 57);
}

@keyframes updown {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(85%);
  }

  100% {
    transform: translateY(0%);
  }
}


.write{
  font-weight: 600;
}

@media all and (max-width:1023px) {
  nav {
    background:none;
  }
}




